[Unit]
Description=HHinfo boot Service


[Service]
Type=simple
WorkingDirectory=/home/ubuntu/hhinfo_PI
ExecStart=/home/ubuntu/hhinfo_PI/bootAPI.py
Restart=no
RestartSec=5
RemainAfterExit=yes
ExecStop=/usr/bin/echo stop

[Install]
WantedBy=multi-user.target